@model IEnumerable<LanchoneteCore.Models.Atendente>

@{
    ViewData["Title"] = "Index";
}

<h2>Atendente</h2>

<p>
    <a asp-action="Create">Adicionar um(a) novo(a) atendente.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.AtendenteID">Edit</a> |
                <a asp-action="Detalhes" asp-route-id="@item.AtendenteID">Details</a> |
                <a asp-action="Excluir" asp-route-id="@item.AtendenteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
