@model CarrinhoCompraViewModel

<div class="row checkoutForm">
    <h2>Seu carrinho de compras</h2>
    <h4>Aqui estão os seus pedidos</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Lanche</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
            {
                <tr>
                    <td class="text-center">@item.Quantidade</td>
                    <td class="text-left">@item.Produto.Nome</td>
                    <td class="text-right">@item.Produto.ValorUnitario.ToString("c")</td>
                    <td class="text-right">
                        @((item.Quantidade * item.Produto.ValorUnitario).ToString("c"))
                    </td>
                    <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra" asp-route-produtoID="@item.Produto.ProdutoID"></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.CarrinhoCompraTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
        </div>
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="FazerPedido" asp-action="List">Escolher Mais</a>
        </div>
        </div>
    </div>
